body {
  width: 400px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.no-padding {
  padding: 0px;
}

.almost-no-padding {
  padding: 2px;
}

.full-width {
  width: 100%;
}

input, button, textarea {
  font-size: 12px !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.section .title {
  font-weight: bold;
}

#timer #timer-remaining {
  font-size: 12px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.error-label {
  color: red;
}

#redmine #revisions-placeholder {
  height: 35px;
}

#options-saved {
  display: none;
  color: green;
}